-r_today = Time.zone.now.to_date
%table.table.table-striped
  %thead
    %tr
      %th CLASSIFICA
      -User.user_days.invert.each_with_index do |(d,name),i|
        %th
          %a.day{"data-day"=>i+1,'data-date'=>d, class:"#{'today' if r_today >= d.to_date} #{'current' if @today == d.to_date}",href:"#{name.downcase.gsub(' ','-')}"}= name
  %tbody
    - @users.each_with_index do |u,i|
      %tr{class:'score-row'}
        %th= u.nickname
        -u.days.each_with_index do |(d,score),i|
          %td{class:"day day-#{i+1} #{'today' if r_today >= d}",'data-day'=>i+1}
            - if r_today >= d 
              = u.send(score.gsub(' ','').downcase.to_sym).nil? ? '-' : u.send(score.gsub(' ','').downcase.to_sym)
            - else
              -
        %td= u.score
:javascript
  $('td.day.today').bind('click',function(){
    $('.score-row td.day').css('text-indent','-9999px');
    for (i = 1; i <= $(this).data('day'); i++) {
      $('.score-row .day-'+i).each(function(){
        $(this).css('text-indent','0px').append($(this).data('score')).show();
      });
    }
  });
