!!!
%html
  %head
    %title Tore Scoreboard
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{class: "#{params[:action]} ipads"}
    #overflow{style:'display:none;'}
      %a.cancel ANNULLA
      %a.ok CONFERMA
    .container-fluid
      = image_tag asset_path('header.png'), width: '640px'
      = render 'shared/flash_messages'
      = yield
